.ListItem {
    display: flex;
    align-items: center;
    height: 24px;
    margin: 12px;
    padding: 18px;
    border: 1px solid gray;
    cursor: pointer;
    
}

.ListItem img {
    width: 50px;
    margin: 15px;
}