.AvatarElement {
    width: 150px;
    
}

.BigImage {
    width: 150px;
    height: 150px;
    object-fit:contain;
    border: 1px solid gray;
    
}

.SmallImage {
    height: 62px;
    width: 62px;
    object-fit:contain;
}

.AvatarElement .InputFileContainer {
    margin-top: 30px; 
}