.AvatarElement {
    margin: 16px;
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.BigImage {
    width: 50px;
}

.SmallImage {
    width: 100px;
}

.AvatarElement .InputFileContainer {
    margin-top: 30px; /* или любое другое значение, которое подойдет вам */
}