.EditElement {
    padding: 18px;
    height: 100vh;
    border-left: 1px solid gray;
    position: relative;
}

.UniformBlock {
    margin-top: 34px;
    display: flex;           
    flex-direction: row;     
    align-items: center;    
    justify-content: flex-start; 
    gap: 10px;    
}

.InfoBlock {
    height: 150px;
    display: flex;           
    flex-direction: row;     
    align-items: center;    
    justify-content: center; 
    gap: 10px;    
}

.Controls {
    position: absolute;
    right:16px;
    bottom:32px;
    
    
}

.Loader {
    display: flex;
    justify-content: center;
    align-items: center;
}