.EditElement {
    padding: 18px;
    height: 100%;
    position: relative;
}

.UniformBlock {
    margin-top: 34px;
    display: flex;           
    flex-direction: row;     
    align-items: center;    
    justify-content: flex-start; 
    gap: 10px;    
}

.InfoBlock {
    
    display: flex;           
    flex-direction: row;     
    align-items: center;    
    justify-content: center; 
    
}

.Controls {
    margin-top: 34px;
}

.Loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.PickersBlock {
    margin-top: 16px;
}