.BaseBlockElements {
    margin: 0;
    padding: 0;
    width: 400px;
    height: 100%;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

.Loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}